<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=DESKTOP-PLDKAD8;Initial Catalog=MotorStore;Integrated Security=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>